
<div class="container">
    <div class="row">
        <div class="col-md-1 col-lg-1">
            <!-- <div  class="d-flex align-items-end flex-column bd-highlight mb-3"> -->
                <!-- <button class="d-flex align-items-center flex-column">Ir a</button> -->
            <!-- </div> -->
               
        </div>
        <div class="col-md-11 col-lg-11">
            <div class="card">
                <img ng-src="{{bookSeleccionado.cover}}" class="card-img-top tamaniolibrosdetalle" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{bookSeleccionado.title}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{bookSeleccionado.author}}</h6>
                  <p class="card-text">{{bookSeleccionado.description}}</p>
                  <a href="#!/book/{{bookSeleccionado.index}}/capitulos/0" class="btn btn-primary">Read</a>
                </div>
             
              </div>
        </div>
    </div>
</div>
